@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'primeicons/primeicons.css';

/* You can add global styles to this file, and also import other style files */
html {
  color-scheme: light;
}

body {
  margin: 0;
  background: #f6f7fb;
  color: #222;
}
